h1, h2 {
    text-transform: uppercase;
}

.black {
    color: var(--clr-blk);
}

.navy {
    color: var(--clr-nvy);
}

.blue {
    color: var(--clr-blu);
}

.bold {
    font-weight: 600;
}

.no-bold {
    font-weight: 300;
}

.italics {
    font-style: italic;
}

.name {
    font-size: 2rem;
}

.calander {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url(./../icons/calander.png);
}

.background-pro {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.b {
    border: 1px solid red;
}


h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.15rem;
}

.git {
    font-size: .75rem;
}

.project-header-sub, .edu-footer span {
    font-size: .8rem;
}