.project .project-header {
    display: flex;
    gap: .4rem;
    align-items: center;
    margin-bottom: .1rem;
}

.project-header a {
    padding: 0 .2rem 0 0;
}

.project-header-sub {
    display: flex;
    align-items: center;
}

.project-type {
    margin-right: 1rem;
}

.project-detail {
    margin-top: .4rem;
    width: 92%;
    position: relative;
    left: 6%;
}
.project-detail-1{
    margin-top: .3rem;
}


